<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>969665469456-jnlh5qm5vefah9572s57m8cjgdm3p0ai.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.969665469456-jnlh5qm5vefah9572s57m8cjgdm3p0ai</string>
	<key>API_KEY</key>
	<string>AIzaSyBYf6T3VQKDQ6oc6LfCjO8kwbNZsLr1J70</string>
	<key>GCM_SENDER_ID</key>
	<string>969665469456</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-ios13-5326b</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-ios13-5326b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:969665469456:ios:237d857119dbda9fb8fe95</string>
</dict>
</plist>